<!--

Author: Matthew Larsen
Date: 02/13/2025
Portfolio Project: Guestbook Part III
Filename: admin.ejs
File Description: HTML & EJS code for Guest List page

-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/default.css">
  <link rel="stylesheet" href="/css/admin.css">
  <link rel="icon" type="image/png" href="/images/list.png" />
  <title>Guest List</title>
</head>
<body>
  <main>
    <nav>
      <ul id="navList">
        <li><a href='/'>Guest Book</a></li>
        <li><a href='admin'>Guest List</a></li>
      </ul>
    </nav>
    <div id="guests"></div>
      <h1>Guest List</h1>
    </div>
  </main>
 
  
</body>
</html>