<!--

Author: Matthew Larsen
Date: 02/5/2025
Portfolio Project: Guestbook Part II
Filename: confirm.html
File Description: HTML for Confirmation page

-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/confirm.css">
  <link rel="icon" type="image/png" href="/images/confirm.png" />
  <title>Confirmation Page</title>
</head>

<body>
  <main>
    <h2>Thank you!</h2>
    <p> Your contact information was submitted successfully. </p>
    <form action="/" method="get">
      <input id="button" type="submit" value="&#129032; Back">
    </form>
  </main>  
</body>
</html>